<!-- <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
      <li class="nav-item float-right">
        <a class="nav-link" href="#"><span (click)="logout()">Logout</span></a>
      </li>
    </ul>
  </div>
</nav> -->

    <nav class="navbar navbar-area navbar-area-fixed navbar-expand-lg nav-style-01">
      <div class="container nav-container">
          <div class="responsive-mobile-menu">
              <div class="mobile-logo">
                  <a href="index.html">
                      <img src="assets/sticky-logo.png" alt="logo">
                  </a>
              </div>
              <button class="navbar-toggler float-right" type="button" data-toggle="collapse" data-target="#tp_main_menu" 
                  aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggle-icon">
                      <span class="line"></span>
                      <span class="line"></span>
                      <span class="line"></span>
                  </span>
              </button>
              <div class="nav-right-content">
                  <ul class="pl-0">
                      <li class="top-bar-btn-booking">
                          <a class="btn btn-yellow" href="tour-details.html">Book Now <i class="fa fa-paper-plane"></i></a>
                      </li>
                      <li class="tp-lang">
                          <div class="tp-lang-wrap">
                              <select class="select single-select">
                                <option value="1">ENG</option>
                                <option value="2">BAN</option>
                                <option value="3">Chinese</option>
                                <option value="3">Spanish</option>
                              </select>
                          </div>
                      </li>
                      <li class="search">
                          <i class="ti-search"></i>
                      </li>
                      <li class="notification">
                          <a class="signUp-btn" href="#">
                              <i class="fa fa-user-o"></i>
                          </a>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="collapse navbar-collapse" id="tp_main_menu">
              <div class="logo-wrapper desktop-logo">
                  <a href="index.html" class="main-logo">
                      <img src="assets/logo.png" alt="logo">
                  </a>
                  <a href="index.html" class="sticky-logo">
                      <img src="assets/sticky-logo.png" alt="logo">
                  </a>
              </div>
              <ul class="navbar-nav">
                  <li class="menu-item-has-children">
                      <a href="#">Home</a>
                      <ul class="sub-menu">
                          <li><a href="index.html">Home 01</a></li>
                          <li><a href="home02.html">Home 02</a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="about.html">About Us</a>
                  </li>
                  <li class="menu-item-has-children">
                      <a href="#">Pages</a>
                      <ul class="sub-menu">
                          <li><a href="tour-list.html">Tours List</a></li>
                          <li><a href="tour-details.html">Tours Details</a></li>
                          <li><a href="destination-list.html">Destination List</a></li>
                          <li><a href="destination-details.html">Destination Details</a></li>
                          <li><a href="gallery.html">Gallery</a></li>
                          <li><a href="comming-soon.html">Coming soon</a></li>
                          <li><a href="404.html">404</a></li>
                          <li><a href="faq.html">FAQ</a></li>
                          <li><a href="user-profile.html">User Profile</a></li>
                      </ul>
                  </li>
                  <li class="menu-item-has-children">
                      <a href="#">Blog</a>
                      <ul class="sub-menu">
                          <li><a href="blog.html">Blog</a></li>
                          <li><a href="blog-details.html">Blog Details</a></li>
                      </ul>
                  </li>
                  <li>
                      <a href="contact.html">Contact</a>
                  </li>
              </ul>
          </div>
          <div class="nav-right-content">
              <ul>
                  <li>
                      <a class="btn btn-yellow" href="tour-details.html">Book Now <i class="fa fa-paper-plane"></i></a>
                  </li>
                  <li class="tp-lang">
                      <div class="tp-lang-wrap">
                          <select class="select single-select">
                            <option value="1">ENG</option>
                            <option value="2">BAN</option>
                            <option value="3">Chinese</option>
                            <option value="3">Spanish</option>
                          </select>
                      </div>
                  </li>
                  <li class="search">
                      <i class="ti-search"></i>
                  </li>
                  <li class="notification">
                      <a class="signUp-btn" href="#">
                          <i class="fa fa-user-o"></i>
                      </a>
                  </li>
              </ul>
          </div>
      </div>
  </nav>