<nav aria-label="breadcrumb mt-2">
  <ul class="breadcrumb">
    <li class="breadcrumb-item"><button type="button" class="btn btn-primary"
        (click)="getUserHotels()">MyBookings</button></li>
    <li class="breadcrumb-item"><button type="button" class="btn btn-primary" (click)="getAllHotels()">All
        Hotels</button></li>
  </ul>
</nav>


<div *ngIf="showBookings">
  <!-- offer area start -->
  <div class="container">
    <div class="row">
      <div class="col-lg-4" *ngFor="let item of hotelData">
        <div class="single-destinations-list text-center">
          <div class="thumb">
            <!-- <span class="d-list-tag">Special Offer</span> -->
            <img src="assets/img/destination-list/1.png" alt="list">
            <!-- <div class="d-list-btn-wrap">
            <div class="d-list-btn">
                                                          <a class="btn btn-yellow" href="#">Book Now <i class="fa fa-paper-plane"></i></a>
                                                      </div>
                                                  </div> -->
          </div>
          <div class="details">
            <h4 class="title">{{item.hotel?.name}}</h4>
            <ul class="tp-list-meta border-bt-dot">
              <li><i class="fa fa-calendar-o"></i> 8oct</li>
              <li><i class="fa fa-clock-o"></i> {{item.hotel?.noOfRooms?.validFor}}</li>
              <li><i class="fa fa-star"></i> {{item.hotel?.rating}}</li>
              <br>
              <li><i class="fa fa-bed"></i> {{item.categoryType}}</li>
              <li><i class="fa fa-users"></i> {{item.hotel?.noOfRooms?.noOfPersons}}</li>
            </ul>
            <div class="tp-price-meta tp-price-meta-cl">
              <p>Price</p>
              <h2>
                {{(item.hotel?.noOfRooms?.price) - ((item.hotel?.noOfRooms?.discount/100) * item.hotel?.noOfRooms?.price) }}<small><i
                    class="fa fa-inr"></i></small></h2>
              <del>{{item.hotel?.noOfRooms?.price}}<span><i class="fa fa-inr"></i></span></del>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>


  <!-- offer area end -->
</div>


<div class="container-fluid" *ngIf="!showBookings">
  <div class="row">
    <aside class="col-md-3">
      <div class="card">
        <article class="card-group-item">
          <header class="card-header">
            <h6 class="title">Facilities</h6>
          </header>
          <div class="filter-content">
            <div class="card-body">
              <label class="form-check" *ngFor="let facility of facilities">
                <input class="form-check-input" type="checkbox" (change)="applyFilter($event,facility)">
                <span class="form-check-label">
                 {{facility}}
                </span>
              </label>
            </div> 
          </div>
        </article> <!-- card-group-item.// -->

        <article class="card-group-item">
          <header class="card-header">
            <h6 class="title">Room Type</h6>
          </header>
          <div class="filter-content2">
            <div class="card-body">
              <label class="form-check" *ngFor="let roomType of roomTypes">
                <input class="form-check-input" type="radio" name="roomType" (change)="applyBedTypeFilter($event,rating)">
                <span class="form-check-label">
                  {{roomType}}
                </span>
              </label>
            </div> <!-- card-body.// -->
          </div>
        </article> 

        <article class="card-group-item">
          <header class="card-header">
            <h6 class="title">Room Rating</h6>
          </header>
          <div class="filter-content2">
            <div class="card-body">
              <label class="form-check" *ngFor="let rating of ratings">
                <input class="form-check-input" type="radio" name="rating" (change)="applyRatingFilter($event,rating)">
                <span class="form-check-label">
                 Upto {{rating}} Star
                </span>
              </label>
            </div> <!-- card-body.// -->
          </div>
        </article> 
      </div> <!-- card.// -->
    </aside> <!-- col.// -->


    <div class="col-9" *ngIf="showAll">
      <div *ngIf="hotelData.length==0"><h3 class="text-center">No Data Available</h3></div>
      <div class="jumbotron p-1 mr-5" *ngFor="let item of hotelData">
        <div class="row">
          <div class="col-4">
            <img src="assets/img/destination-list/2.png" alt="list">
          </div>
          <div class="col-8">
            <div class="card-body pb-0">
              <h5 class="card-title">{{item?.name}}</h5>
              <p class="card-text mb-1">{{item?.hotel?.address}}</p>
              <p class="card-text mb-1">Room Type - {{item.noOfRooms[0].categoryType}}<span class="float-lg-right"><i class="fa fa-tripadvisor" style="font-size:.929em;color: #00a680;"></i>  {{item?.rating}}/5</span></p>
              <p class="card-text mb-1 w-75">Facilities - {{item.noOfRooms[0]?.facilities.join(', ')}}</p>
              <p class="card-text mb-1 d-inline">Discount - {{item.noOfRooms[0]?.discount}}%</p>
              <p class="card-text mb-1 d-inline pl-1">Price - {{item.noOfRooms[0]?.price}}</p><span
                (click)="showRooms(item)" class="btn btn-primary float-right">Choose Room</span>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Show Rooms of Selected Hotel -->
    <div *ngIf="!showAll">
      <div class="col-9">
        <h5 class="card-title">{{selectedHotelData?.name}}</h5>
        <p class="card-text mb-1"><Strong>Address -</Strong> {{selectedHotelData?.address}}</p>
        <p class="card-text mb-1"><Strong>Description -</Strong> {{selectedHotelData?.description}}</p>
        <p class="card-text mb-1"><Strong>CheckIn Time -</Strong> {{selectedHotelData?.checkinDetails[0]}}
          <Strong>CheckOut Time -</Strong> {{selectedHotelData?.checkinDetails[1]}}</p>
        <div class="jumbotron p-1 mr-5" *ngFor="let room of RoomArr">
          <div class="row">
            <div class="col-4">
              <img class="card-img" src="https://www.princehotels.com/wp-content/uploads/2019/04/aboutslider2-1.jpg"
                alt="Card image cap">
            </div>
            <div class="col-8">
              <div class="card-body pb-0">
                <p class="card-text mb-1 d-inline">Category Type - {{room.categoryType}}</p>
                <p class="card-text mb-1">Valid For - {{room.validFor}}</p>
                <p class="card-text mb-1">Facilities - {{room?.facilities.join(', ')}}</p>
                <p class="card-text mb-1 d-inline">Discount - {{room?.discount}}%</p>
                <p class="card-text mb-1 d-inline pl-1">Price - {{room?.price}}</p><span
                  (click)="sendPayment(selectedHotelData,room)" class="btn btn-primary float-right">Book Now</span>
                <p class="card-text mb-1">Bed Type - {{room?.bedType}}</p>
                <p class="card-text mb-1">Available Rooms - {{room?.availableRooms?.length}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>







<!-- "_id" : ObjectId("5e8b11f945023b1f7010556c"),
"name" : "Hotel Samrat",
"address" : "East Rohini",
"city" : "Gurgaon",
"rating" : 4.5,
"description" : "just 1.4 km from Indira Gandhi Airport, New Delhi",
"checkinDetails" : ["10AM","12PM"],
"noOfRooms" : [ 
    {
        "facilities" : [ 
            "Fully Air Conditioner", 
            "Free Breakfast and Dinner", 
            "Laundary",
            "ATM Facility",
            "Bar",
            "Massage/Spa",
            "Gym",
            "Conference Room",
            "Swimming Pool",
            "Free Parking",
            "Room Service",
            "Terrace",
            "Cafe",
            "Kitchen",
            "Outdoor Sports"
        ],
        "_id" : ObjectId("5e8b11f945023b1f7010556d"),
        "availableRooms" : [101,102,104],
        "noOfPersons" : 5,
        "discount": 20,
        "price": 7500,
        "valid For" : "2 nights",
        "categoryType" : "Deluxe Family Suite",
        "bedType" :  "King"
        
    }, -->